<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	
	<link th:href="@{/createcar.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <i class='fas fa-car-side' style='font-size:48px;color:red'></i>
  <a class="navbar-brand" th:href="@{/}">  CAR MANAGEMENT</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">View Car</a>
      </li>
       <li class="nav-item">
       <a class="nav-link" th:href = "@{/cars/new}"> Add Car</a>
      </li>
      
      
    </ul>
  </div>
</nav>

<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">add New car </h1>
				<div class = "card-body">
					<form th:action="@{/cars}" th:object = "${addcar}" method="POST">
						<div class ="form-group">
							<label> car no </label>
							<input
							type = "text"
							name = "carno"
							th:field = "*{carno}"
							class = "form-control"
							placeholder="Enter car no" 
							/>
						</div>
						
						<div class ="form-group">
							<label>car name</label>
							<input
							type = "text"
							name = "name"
							th:field = "*{name}"
							class = "form-control"
							placeholder="car name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> car type </label>
							<input
							type = "text"
							name = "type"
							th:field = "*{type}"
							class = "form-control"
							placeholder="Enter car type" 
							/>
						</div>
						
						<div class ="form-group">
							<label> quantity </label>
							<input
							type = "text"
							name = "quantity"
							th:field = "*{quantity}"
							class = "form-control"
							placeholder="Enter quantity" 
							/>
						</div>
						
												
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>

</body>
</html>